<div class="container" style="width:25%">
  <h2>Log in</h2>

  <form [formGroup]="loginForm" novalidate>
    <div class="form-group">
      <input type="text" class="form-control"
             #name
             id="account"
             required
             placeholder="Account Name"
             formControlName="name">
    </div>
    <div class="form-group">
      <input type="password" class="form-control"
             #psw
             required
             placeholder="Password"
             formControlName="password">
    </div>
    <span *ngIf="display">Wrong name or password</span><br><br>
    <button [disabled]="!loginForm.valid"
            class="btn btn-default"
            (click) = "login(name.value, psw.value)">
      Log in
    </button>
  </form>
</div>
