<div class="container">
  <div class="left">
    <nav>
      <a routerLink="/main" routerLinkActive="active">Main page</a>
    </nav>
    <router-outlet></router-outlet>
    <div style="padding-top: 20px; width:210px; padding-left: 5px; border:1px solid #eeeeee; border-radius:10px;">
      <h2>Current Info</h2>
      <img src="http://24.media.tumblr.com/tumblr_m6r07hduts1r6u1aso1_500.jpg" height="200px"/>
      <button type="button" class="btn btn-default">Upload picture</button>
      <div class="form-group">
        <label>Display Name:</label>
        <p>{{model.display}}</p>
      </div>

      <div class="form-group">
        <label>Email Address:</label>
        <p>{{model.email}}</p>
      </div>

      <div class="form-group">
        <label>Phone Number:</label>
        <p>{{model.phone}}</p>
      </div>

      <div class="form-group">
        <label>Date of Birth:</label>
        <p>{{model.birthday}}</p>
      </div>

      <div class="form-group">
        <label>Zip Code:</label>
        <p>{{model.zip}}</p>
      </div>
    </div>
  </div>
  <div class="right">
    <br><br>
    <div
      style="padding-top: 20px; width:500px; padding-left: 20px; padding-bottom: 20px; padding-right: 20px; border:1px solid #eeeeee; border-radius:10px;">
      <h2>Update Info</h2>
      <form #userForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="display">Display Name</label>
          <input type="text" class="form-control" id="display"
                 [(ngModel)]="current.display" name="display">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" required
                 [(ngModel)]="current.email" name="email"
                 pattern="^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9.-]+$"
                 #email="ngModel">
          <div [hidden]="email.valid || email.pristine"
               class="alert alert-danger">
            Email is required and format should be <i>john@domain.com</i>.
          </div>
        </div>

        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" required
                 [(ngModel)]="current.phone" name="phone"
                 pattern="^\d\d\d-\d\d\d-\d\d\d\d$"
                 #phone="ngModel">
          <div [hidden]="phone.valid || phone.pristine"
               class="alert alert-danger">
            Phone Number is required and format should be <i>123-456-7890</i>.
          </div>
        </div>

        <div class="form-group">
          <label for="zip">Zip Code</label>
          <input type="number" class="form-control" id="zip" required
                 [(ngModel)]="current.zip" name="zip"
                 pattern="^\d\d\d\d\d$"
                 #zip="ngModel">
          <div [hidden]="zip.valid || zip.pristine"
               class="alert alert-danger">
            Zip Code is required and consists of five integers
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" [ngModel]="current.password"
                 required #password="ngModel" validateEqual="confirmPassword" reverse="true">
          <div [hidden]="password.valid || (password.pristine)">
            Password is required
          </div>
        </div>
        <div class="form-group">
          <label>Retype password</label>
          <input type="password" class="form-control" name="confirmPassword" [ngModel]="current.confirmPassword"
                 required validateEqual="password" #confirmPassword="ngModel">
          <div [hidden]="confirmPassword.valid ||  (confirmPassword.pristine)">
            Password mismatch
          </div>
        </div>


        <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">


          Submit
        </button>

      </form>
    </div>
  </div>
</div>


