<div class="back" style="padding-bottom: 50px">
  <div class="container">
    <div class="left" style="margin-top: 20px; background-color:rgba(255,255,255,0.95)">
      <h1>Rice Book</h1>

      <nav>
        <a routerLink="/landing" routerLinkActive="active">Log out</a>
        <a routerLink="/profile" routerLinkActive="active">Profile</a>
      </nav>
      <br>
      <img src={{user.img}} height="192px"/>
      <br>
      <p>Name: {{user.accountName}}</p>
      <p>Status: {{user.status}}</p>

      <input #status class="form-control"/>
      <button (click)="updateStatus(status.value); status.value=''" class="btn btn-default">
        Update status
      </button>

      <h1>Friends</h1>
      <div *ngFor="let follower of followers">
        <div *ngIf="follower.display">
          <br>
          <img src={{follower.img}} width="200px">
          <p>Name: {{follower.accountName}}</p>
          <span>Status: {{follower.status}}</span>
          <br>
          <button type="button" class="btn btn-default">Profile</button>
          <button type="button" class="btn btn-default" (click)="deleteFollower(follower.accountName)">Delete</button>
        </div>
      </div>
      <div style="padding-top: 10px">
        <input #add class="form-control"/>
        <button (click)="addFriend(add.value); add.value=''" class="btn btn-default">
          Add friend
        </button>
      </div>

    </div>
    <div class="container" style="margin-top: 20px; min-height: 2000px">
      <div class="right">

        <div class="card">
          <textarea class="form-control" rows="5" #textarea placeholder="Your post here"></textarea>
          <button (click)="textarea.value=''" type="button" class="btn btn-default">cancel</button>
          <button (click)="(post(textarea.value)); textarea.value=''" type="button" class="btn btn-default">post
          </button>
          <input type="file">
        </div>

        <div class="card" style="padding-top: 20px">
          <input #key class="form-control"/>
          <button (click)="(filterArticles(key.value))" class="btn btn-default" style="align:right;">
            Search
          </button>
        </div>

        <div id="articles">
          <ng-container *ngFor="let article of articles" class="card">
            <div class="card" *ngIf="article.display">
              <span>On {{article.date}}, {{article.author}} said:</span>
              <br>
              <img src={{article.img}}>
              <br>
              {{article.text}}
              <br><br>
              <button type="button" class="btn btn-default">edit</button>
              <button type="button" class="btn btn-default">comment</button>
              <button class="button3" class="btn btn-default" id="hideComments" type="button" (click)="hideComments(article.id)">Hide Comments
              </button>
              <div id="{{article.id}}comments">
                <div *ngFor="let com of article.comments">
                  <p class="comments">{{com}}</p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
