.left{
  margin-left:10px;
  position: absolute;
  box-sizing: border-box;
  width: 400px;
  height: 100%;
}
.right{
  box-sizing: border-box;
  float: left;
  padding-left: 400px;
  overflow-y: overlay;
  overflow-x: hidden;
  clear: both;
  min-width: 100%;
  min-height: 500px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
