<div class="back" style="padding-bottom: 50px">
  <div class="container">
    <div class="left" style="margin-top: 20px; background-color:rgba(255,255,255,0.95)">
      <h1>Rice Book</h1>

      <nav>
        <a routerLink="/landing" routerLinkActive="active">Log out</a>
        <a id="profileLink" routerLink="/profile" routerLinkActive="active">Profile</a>
      </nav>
      <br>
      <img src={{user.img}} height="192px"/>
      <br>
      <p>Name: {{user.accountName}}</p>
      <p id="headline">Status: {{user.status}}</p>

      <input id="headlineInput" #status class="form-control"/>
      <button id="headlineBtn" (click)="updateStatus(status.value); status.value=''" class="btn btn-default">
        Update status
      </button>

      <h1>Friends</h1>
      <div *ngFor="let follower of followers">
        <br>
        <img src={{follower.img}} width="200px">
        <p id="follower">Name: {{follower.name}}</p>
        <span>Status: {{follower.status}}</span>
        <br>
        <button type="button" class="btn btn-default">Profile</button>
        <button id="{{follower.name}}deleteBtn" type="button" class="btn btn-default" (click)="deleteFollower(follower.name)">Delete</button>
      </div>
      <div style="padding-top: 10px">
        <input id="followerInput" #add class="form-control"/>
        <button id="followerBtn" (click)="addFollower(add.value); add.value=''" class="btn btn-default">
          Add friend
        </button>
        <br>
        <span *ngIf="display">The user doesn't exist</span><br><br>
      </div>

    </div>
    <div class="container" style="margin-top: 20px; min-height: 2000px">
      <div class="right">

        <div class="card">
          <textarea class="form-control" rows="5"
                    id="inputArticle"
                    #textarea placeholder="Your post here"></textarea>
          <button (click)="textarea.value=''" type="button" class="btn btn-default">cancel</button>
          <button (click)="(post(textarea.value)); textarea.value=''" id="postBTN" type="button"
                  class="btn btn-default">post
          </button>
          <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera">
          <button (click)="uploadImg()">Upload</button>
        </div>

        <div class="card" style="padding-top: 20px">
          <input id="searchInput" #key class="form-control"/>
          <button id="searchBtn" (click)="(filterArticles(key.value))" class="btn btn-default" style="align:right;">
            Search
          </button>
        </div>

        <div id="articles">
          <ng-container *ngFor="let article of articles" class="card">
            <div class="card" *ngIf="article.display" id="searchArticle">
              <span id="headerArticle{{article.id}}">On {{article.date}}, {{article.author}} said:</span>
              <br>
              <img src={{article.img}} height="200px">
              <br>
              <p id="{{article.id}}article" contenteditable="false">{{article.text}}</p>
              <br>
              <button type="button" class="btn btn-default" id="editArticle{{article.id}}" (click)="editArticle(article.id)">edit</button>
              <button type="button" class="btn btn-default" id="{{article.id}}hideCommenting"
                      (click)="hideCommenting(article.id)">comment</button>
              <button type="button" class="btn btn-default" id="{{article.id}}hideComments"
                      (click)="hideComments(article.id)">Show Comments
              </button>
              <div id="{{article.id}}commenting" style="display: none">
                <textarea class="form-control" rows="5"
                          id="inputComment"
                          #textarea placeholder="Your comment here"></textarea>
                <button (click)="textarea.value=''" type="button" class="btn btn-default">cancel</button>
                <button (click)="(comment(textarea.value, article.id)); textarea.value=''" id="commentBtn" type="button"
                        class="btn btn-default">comment
                </button>
              </div>
              <div id="{{article.id}}comments" style="display: none">
                <div *ngFor="let comment of article.comments" class="card">
                  <p class="comments">Date: {{comment.date}}</p>
                  <label>Content: </label><span class="comments" id="{{comment.date.toString()}}comment{{article.id}}" contenteditable="false">{{comment.text}}</span>
                  <p class="comments">Comment By: {{comment.author}}</p>
                  <button type="button" class="btn btn-default" id="{{article.id}}editComment{{comment.date}}" (click)="editComment(article.id, comment.date)">edit</button>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
