<div class="container" style="width:25%">
  <h2>Log in</h2>

  <form [formGroup]="loginForm" novalidate>
    <div class="form-group">
      <input type="text" class="form-control"
             id="account"
             required
             placeholder="Account Name"
             formControlName="name">
    </div>
    <div class="form-group">
      <input type="password" class="form-control"
             required
             placeholder="Password"
             formControlName="password">
    </div>

    <button [disabled]="!loginForm.valid" type="submit"
            class="btn btn-default"
            routerLink="/main" routerLinkActive="active">
      Log in
    </button>
  </form>
</div>
