
<router-outlet></router-outlet>
<div class="container" style="width:25%">
  <nav>
    <a routerLink="/login" routerLinkActive="active">Log in</a>
    <a routerLink="/registration" routerLinkActive="active">Sign up</a>
  </nav>
</div>
