<div class="container" style="width:25%">
  <h2>Registration</h2>

  <form #userForm="ngForm">
    <div class="form-group">
      <label for="account">Account Name</label>
      <input type="text" class="form-control" id="account" required
             [(ngModel)]="model.account" name="account"
             pattern="^[a-zA-Z][a-zA-Z0-9]+$"
             #account="ngModel">
      <div [hidden]="account.valid || account.pristine"
           class="alert alert-danger">
        Account Name is required and it can only start with letter.
      </div>
    </div>

    <div class="form-group">
      <label for="display">Display Name</label>
      <input type="text" class="form-control" id="display"
             [(ngModel)]="model.display" name="display">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required
             [(ngModel)]="model.email" name="email"
             pattern="^[a-zA-Z0–9_.+-]+@[a-zA-Z0–9-]+.[a-zA-Z0–9.-]+$"
             #email="ngModel">
      <div [hidden]="email.valid || email.pristine"
           class="alert alert-danger">
        Email is required and format should be <i>john@domain.com</i>.
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" class="form-control" id="phone" required
             [(ngModel)]="model.phone" name="phone"
             pattern="^\d\d\d-\d\d\d-\d\d\d\d$"
             #phone="ngModel">
      <div [hidden]="phone.valid || phone.pristine"
           class="alert alert-danger">
        Phone Number is required and format should be <i>123-456-7890</i>.
      </div>
    </div>

    <div class="form-group">
      <label for="birthday">Date of Birth</label>
      <input type="date" class="form-control" id="birthday" required
             [(ngModel)]="model.birthday" name="birthday"
             #birthday="ngModel" validateAge="birthday">
      <div [hidden]="birthday.valid || birthday.pristine"
           class="alert alert-danger">
        Sorry, your age is under 18
      </div>
    </div>

    <div class="form-group">
      <label for="zip">Zip Code</label>
      <input type="number" class="form-control" id="zip" required
             [(ngModel)]="model.zip" name="zip"
             pattern="^\d\d\d\d\d$"
             #zip="ngModel">
      <div [hidden]="zip.valid || zip.pristine"
           class="alert alert-danger">
        Zip Code is required and consists of five integers
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" [ngModel]="model.password"
             required #password="ngModel" validateEqual="confirmPassword" reverse="true">
      <div [hidden]="password.valid || (password.pristine)">
        Password is required
      </div>
    </div>
    <div class="form-group">
      <label>Retype password</label>
      <input type="password" class="form-control" name="confirmPassword" [ngModel]="model.confirmPassword"
             required validateEqual="password" #confirmPassword="ngModel">
      <div [hidden]="confirmPassword.valid ||  (confirmPassword.pristine)">
        Password mismatch
      </div>
    </div>

    <button type="submit" class="btn btn-success"
            [disabled]="!userForm.form.valid"
            routerLink="/login" routerLinkActive="active">
      Submit
    </button>
    <button type="button" class="btn btn-default"
            (click)="userForm.reset()">
      Reset
    </button>

  </form>
</div>
