.card {
  margin: 0 auto;
  width: 75%;
  margin-bottom: 1.5pt;
  padding: 3pt;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  min-height: 3.5em;
  background-color:rgba(255,255,255,0.95);
}
.wrap {
  min-width: 100%;
  position: absolute;
  background: #eff3f6 bottom;
  min-height: 100%;
  overflow: hidden;
}
.left{
  margin: 0 auto;
  margin-bottom: 1.5pt;
  padding: 3pt;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  min-height: 3.5em;
  background-color: white;
  margin-left:10px;
  position: absolute;
  box-sizing: border-box;
  width: 210px;
  height: auto;
}
.logoDiv{
  padding-top: 20px;
  padding-bottom: 20px;
  height: 70px;
  background-color: #354457;
  font-size: 17px;
  color: #fff;
  vertical-align: bottom;
}
.logoTitle{
  margin-left:15px;
  line-height: 1.7;
}
.menu-title {
  margin-left:15px;
  color: #828e9a;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}
.menu-item {
  padding-left:15px;
  line-height: 40px;
  height: 40px;
  color: #aab1b7;
  cursor: pointer;
}
.menu-item-active {
  background-color: #3d4e60;
  border-right: 4px solid #647f9d;
  color: #fff;
}
.right{
  box-sizing: border-box;
  float: left;
  box-sizing: border-box;
  margin-left: 120px;
  overflow-y: overlay;
  overflow-x: hidden;
  clear: both;
  color: #717592;
  min-width: 750px;
  min-height: 500px;
}
.back{
  background: url(https://upload.wikimedia.org/wikipedia/commons/d/db/Cijin_District_view_from_Mt_QiHou.jpg);
  background-attachment:fixed;
}




